<div class="banner" style="background-image: linear-gradient(-225deg, rgba(41,44,60,0.6) 0%, rgba(80,78,100,0.5) 50%), url(<%= image_path "background.jpg"%>);">
    <div class="banner-content">
      <h1> Achetez votre publicité à moitié prix et en un clic !</h1>
      <h2> Changez votre façon d'acheter de la publicité et faites des économies ! </h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-offset-3 padded">
            <a href="#" class="btn-treehouse">En savoir plus </a>
          </div>
        </div>
    </div>
  </div>

 <div class="wrapper padded text-center">
    <div class="container">
      <div class="process">
        <h2>Comment ça marche ?</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'subscribe.png', class: 'avatarhome'%>
            <h3>Inscrivez-vous et choisissez votre support de publicité </h3>
            <div class="circle1">1</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'networking.png', class: 'avatarhome'%>
            <h3> Choisissez les caractéristiques de votre publicité !</h3>
            <div class="circle2">2</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'money-bag.png', class: 'avatarhome' %>
            <h3>Vous êtes une régie ?! Accédez votre espace pro pour la gestion de vos espaces publicitaires et vendez vos invendus !</h3>
            <div class="circle3">3</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'deal.png', class: 'avatarhome' %>
            <h3> Achetez ou vendez votre espace publicitaires en quelques clics !</h3>
            <div class="circle4">4</div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "sea2.jpg"%>);">
<div class="container padded text-center">
    <div class="titre2">
      les supports :
    </div>
      <div class="row ">
        <div class="col-xs-12 col-sm-4">
          <div class="card1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "tv2.png"%>);">
            <div class="card-category1"></div>
              <div class="card-description1">
                <h2>TV</h2>
              </div>
              <a class="card-link1" href="#" ></a>
            </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                  <div class="card1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "radio2.png"%>);">
              <div class="card-category1"></div>
              <div class="card-description1">
                <h2>Radio</h2>
              </div>
              <a class="card-link1" href="#" ></a>
            </div>
                </div>
              <div class="col-xs-12 col-sm-4">
                  <div class="card1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "advertiser.jpg"%>);">
              <div class="card-category1"></div>
              <div class="card-description1">
                <h2>Presse</h2>
              </div>
              <a class="card-link1" href="#" ></a>
            </div>
          </div>
        </div>
      </div>

    </div>

<div class="wrapper2 text-center">
      <div class="titre">
        Vous êtes :
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="cardchoice" style="background-image: linear-gradient(rgba(2,6,1,0.0), rgba(20,0,0,0.30)), url(<%= image_path "buyer.jpg"%>);">
            <%= link_to "", root_path, :class => "newStep" %>
              <div class="card-description">
                <h2>Annonceur</h2>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="cardchoice" style="background-image: linear-gradient(rgba(2,6,1,0.0), rgba(20,20,0,0.30)), url(<%= image_path "regie.png"%>);">
            <%= link_to "", root_path, :class => "newStep" %>
            <div class="card-description">
              <h2>Régisseur</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "lagon.jpg"%>);">
      <div class="banner-content">
        <a class="btn btn-primary btn-lg"> Regarder la vidéo </a>
      </div>
    </div>






<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Copyright Bacco
  </div>
</div>

